body{
    background-image:url('../img/fondo.jpg');
background-repeat: no-repeat;
background-size:cover;
#fondo}
background-image:url('../img/fondo.jpg');
background-repeat: no -repeat;
background-size:cover;
width:100%;
height:100vh; /*vh= viewporto height */
position: adsolute;
top:0;
left:0;
background-position: center;
z-index:0
}
.titulo¨{
    position: adsolute
    top:30%
    widht:50%;
    left:25%
    tex-align:center;
.texto-blanco
    color:aquamarine
    text-shadow: 2px 2px 2px
}